{{ ansible_managed | comment }}

[Unit]
Description=Prometheus nginxlog Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart={{ nginxlog_exporter_install_dir }}/prometheus-nginxlog-exporter \
        -config-file {{ nginxlog_exporter_config_dir }}/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=nginxlog_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
